@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lobster&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    border: none;


}
html{
    font-size: 56%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)),url("images/homee.jpg") no-repeat;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    position:fixed;
    background-position: center;
    background-size: cover;
   

}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-thumb{
    background: rgb(198, 172, 172);
}
section{
    padding: 7rem 9%;
    margin-top: 7rem;
}

.btn{
    margin-top: 2rem;
    padding: 1.2rem 4rem;
    font-size: 2.0rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-weight: 600;
    background-color: yellowgreen;
    box-shadow: rgba(0,0,0,0.4);
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    color: white;
}


#searchForm{
    width:350px;
    margin-left: 38%;
    margin-top: 5%;


}
#searchForm select .op{
    margin-top: 5%;
}
#searchForm select {
    background-color:rgb(0, 0, 0);
    border-radius: 13px;
    padding: 7px;
    margin-top: 5%;
    
}
.search-box{
    margin: 20rem 0 0 0;
    color: white;
    text-align: center;
    margin-top: 16%;
}
.search-box h1{
    font-size: 7.5rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 10px rgb(253, 162, 6),
    1px 1px 8px #012290f7;
    margin-top: -5%;

}
.search-box p{
    font-size: 5.8rem;
    margin: 0.5rem;
  text-shadow: 1px 1px 10px rgb(253, 162, 6),
    1px 1px 8px #012290f7;

}
.btn{
  background-color: rgb(253, 162, 6);
  border-radius:13px ;
  font-weight: 400px;
}
.btn:hover{
    background-color: #8d5114;
}
.search-field{
    width: 40rem;
    height: 4.9rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 3%;
    text-align: center;
}
.menu{
    position:fixed;
    width:145px;
    height:200px;
    display:flex;
    align-items:center;
   margin-left:78%;
   margin-top:6%;
    justify-content:center;
  }
  .menu .toggle{
    position:relative;
    height:50px;
    width:50px;
    background:#fff;
    border-radius:50%;
    box-shadow:0 3px 4px rgba(0,0,0,0.15);
    display:flex;
    align-items:center;
    justify-content:center;
    color:#333;
    font-size:3rem;
    cursor:pointer;
    transition:1.25s;
    margin-right:-145%;
    z-index:5;
  }
  .menu.active .toggle{
    transform:rotate(360deg);
    box-shadow: 0 6px 8px rgba(0,0,0,0.15),
      0 0 0 2px #333,
      0 0 0 8px #fff;
  }
  .menu li{
    position:absolute;
    left:0;
  
    list-style:none;
    transition:0.5s;
    transform:rotate(calc(185deg/8 * var(--i)));
    transform-origin:180px;
    scale:0;
    transition-delay: calc(0.05s * var(--i));
    justify-content: space-between;
  }
  .menu.active li{
    scale:0.67;

  }
  .menu li a{
    position:relative;
    display:flex;
   transform:rotate(calc(180deg/-8 * var(--i)));
    width:60px;
    height:60px;
    background-color:#FFF;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    font-size:2.95rem;
    color:var(--clr);
     box-shadow:0 3px 4px rgba(0,0,0,0.15);
    transition:0.5s;

    
  }
  .menu li:hover a{
    font-size:3.2rem;
    box-shadow:0 0 0 2px var(--clr),
      0 0 0 6px #fff;
  }

@media screen and (max-width:600px){
    .search-box h1{
        
        font-size: 28px;
    }
    .home{
      margin-top: 10%;
    }
    .search-box{
        margin-top: 55%;
       }
       .search-box p{
        font-size: 30px;
       }
.search-field{
    width:152px;
    font-size: 15px;
}
.op{
    font-size: 15px;
 }

}